@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #2B3139;
  --background-color: #181A20;
  --white: #ffffff;

  --p-toolbar-background: rgba(0, 0, 0, 0) !important;
  --p-toolbar-border-color: #374151 !important;

  --p-fileupload-border-color: #374151 !important;
  --p-fileupload-background: rgba(0, 0, 0, 0) !important;

  --p-datatable-border-color: #374151 !important; 
  --p-datatable-row-background: #1b212b !important;
  --p-datatable-header-background: #1b212b !important;
  --p-datatable-header-cell-background: #1b212b !important;
  --p-datatable-footer-background: #1b212b !important;
  --p-paginator-background: #1b212b !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-drawer {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}