@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #2B3139;
  --background-color: #181A20;
  --white: #ffffff;
  --p-drawer-background: rgba(43, 49, 57, 0.5) !important;
  --p-drawer-border-color: rgba(43, 49, 57, 0.5) !important;
  --p-toolbar-background: rgba(0, 0, 0, 0) !important;
  --p-toolbar-border-color: #374151 !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-drawer {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}