/* You can add global styles to this file, and also import other style files */
:root {
  --foreground-color: #2B3139;
  --background-color: #181A20;
  --white: #ffffff;
}

html, body { 
  height: 100%; 
  background-color: var(--background-color);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  align-self: center;
  margin-top: 16px;
}