<div class="flex flex-1 flex-col items-center w-full max-w-7xl mx-auto px-4">
  <div class="w-full">
    <h1 class="text-headline4 font-bold"><i class="fas fa-tachometer-alt text-green-400"></i> Dashboard</h1>
    <!-- <div class="flex rounded-xl outline outline-2 outline-gray-1000 p-4 w-full min-h-80 mx-auto mt-5 mb-12">
      <div>
        <h2 class="text-xl">
          Account Balance
          <span class="pi" [ngClass]="{'pi-eye-slash': !isHidden, 'pi-eye': isHidden}" (click)="toggleVisibility()"
            style="cursor: pointer;">
          </span>
        </h2>
      </div>
    </div> -->
  </div>

  <!-- <p-button  (click)="createComponent()">Button</p-button> -->
  <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container #container />
    <div *ngFor="let portfolio of portfolioDataArray">
      <app-portfolio-card [credential]="portfolio.credential" [data]="portfolio.data || defaultData">
      </app-portfolio-card>
    </div>
  </div>
</div>