<div class="max-w-7xl w-full px-4 mx-auto">
  <div class="flex flex-col w-full h-full gap-6">
    <div class="flex flex-col md:flex-row justify-between gap-4">
      <div class="flex flex-col lg:grid lg:grid-cols-3 w-full gap-4">
        <div class="flex flex-col space-y-2">
          <h1 class="text-xl font-medium">Expert: Scalper XAUUSD 1.2</h1>
        </div>

        <!-- Combined for smaller screens -->
        <div class="flex flex-col space-y-2 lg:hidden">
          <div class="flex flex-row space-x-2">
            <div class="text-gray-400 min-w-[120px]">Timeframe</div>
            <div>4h</div>
          </div>
          <div class="flex flex-row space-x-2">
            <div class="text-gray-400 min-w-[120px]">Currency</div>
            <div>XAUUSD</div>
          </div>
          <div class="flex flex-row space-x-2">
            <div class="text-gray-400 min-w-[120px]">Min Size</div>
            <div>0.01</div>
          </div>
        </div>

        <!-- Separate for larger screens -->
        <div class="hidden lg:space-y-2 lg:block">
          <div class="flex flex-row space-x-2">
            <div class="text-gray-400 min-w-[120px]">Timeframe</div>
            <div>4h</div>
          </div>
          <div class="flex flex-row space-x-2">
            <div class="text-gray-400 min-w-[120px]">Currency</div>
            <div>XAUUSD</div>
          </div>
        </div>
        <div class="hidden lg:flex lg:flex-row lg:space-x-2">
          <div class="text-gray-400 min-w-[120px]">Min Size</div>
          <div>0.01</div>
        </div>

        <!-- Button for small screens -->
        <div class="lg:hidden">
          <button pButton label="Copy Trade" class="w-full h-[38px]" (click)="showDialog()"></button>
        </div>
      </div>

      <!-- Button for larger screens -->
      <div class="hidden lg:block">
        <button pButton label="Copy Trade" class="w-[120px] h-[38px]" (click)="showDialog()"></button>
      </div>
    </div>

    <!-- First Row -->
    <div class="flex flex-col xl:flex-row gap-4">
      <!-- Recent Trades -->
      <div class="w-full xl:w-4/6">
        <div class="flex flex-col h-full p-6 rounded-md shadow-lg border border-gray-700 text-white">
          <h2 class="text-xl font-medium mb-4">Recent Trades</h2>
          <div class="overflow-x-auto">
            <table class="w-full text-left table-auto">
              <thead>
                <tr class="text-gray-400 text-sm border-b border-gray-700">
                  <th class="px-4 py-2">Date</th>
                  <th class="px-4 py-2">Symbol</th>
                  <th class="px-4 py-2">Entry</th>
                  <th class="px-4 py-2">Profit/Loss</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of data.recentTrades" class="text-sm">
                  <td class="px-4 py-2">{{ trade.date }}</td>
                  <td class="px-4 py-2">{{ trade.symbol }}</td>
                  <td class="px-4 py-2">{{ trade.entry }}</td>
                  <td class="px-4 py-2" [ngClass]="{'text-green-400': trade.pnl > 0, 'text-red-400': trade.pnl < 0}">
                    {{ trade.pnl }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Bar Chart -->
      <div class="w-full">
        <div class="flex flex-col h-full p-6 rounded-md shadow-lg border border-gray-700 ">
          <h2 class="text-xl font-medium mb-4">
            PNL
          </h2>
          <div echarts [options]="barChart" class="w-full xl:max-w-[622px]" style="height: 200px;"></div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="flex flex-col xl:flex-row gap-4">
      <!-- Performance Backtest -->
      <div class="w-full xl:w-4/6">
        <div class="flex flex-col h-full p-6 rounded-md shadow-lg border border-gray-700 text-white">
          <h2 class="text-xl font-medium mb-4">
            Performance Backtest
          </h2>
          <div class="space-y-3">
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Backtest</span>
              <span>{{ data.backtest }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Start Balance</span>
              <span>{{ data.start_balance }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Risk/Reward Ratio</span>
              <span>{{ data.risk_reward_ratio }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">ROI</span>
              <span>{{ data.roi }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">PNL</span>
              <span>{{ data.pnl }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Max Drawdown</span>
              <span>{{ data.max_drawdown }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Win Rate</span>
              <span>{{ data.winrate }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Win</span>
              <span>{{ data.win }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Loss</span>
              <span>{{ data.loss }}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span class="text-gray-400">Total</span>
              <span>{{ data.total }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Line Chart -->
      <div class="w-full">
        <div class="flex flex-col h-full p-6 rounded-md shadow-lg border border-gray-700 ">
          <h2 class="text-xl font-medium mb-4">
            ROI
          </h2>
          <div echarts [options]="lineChart" cclass="w-full xl:max-w-[622px]" style="height: 200px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Copy trade" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">Scalper XAUUSD 1.2</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="portfolio" class="font-semibold w-24">Portfolio</label>
    <p-dropdown [options]="portfolios()" [(ngModel)]="selectedPortfolio" optionLabel="name" [filter]="true"
      filterBy="name" [showClear]="true" placeholder="Select a Portfolio" appendTo="body">

      <!-- Custom Selected Item Template -->
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex items-center gap-2">
          <i class="pi pi-briefcase text-blue-500"></i>
          <div>{{ selectedOption?.name || 'No Portfolio Selected' }}</div>
        </div>
      </ng-template>

      <!-- Custom Item Template -->
      <ng-template pTemplate="item" let-portfolio>
        <div class="flex items-center justify-between w-full">
          <div class="flex items-center gap-2">
            <i class="pi pi-database text-green-400"></i>
            <div>{{ portfolio.name }}</div>
          </div>
          <span class="text-xs text-gray-500">{{ portfolio.create_at | date: 'short' }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="lot-size" class="font-semibold w-24">Lot Size</label>
    <input pInputText id="lot-size" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" text="true" (click)="visible = false" />
    <p-button label="Save" (click)="visible = false" />
  </div>
</p-dialog>