/* login component */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px); /* Adjust for bottom padding */
  width: 100%; /* Adjust for horizontal padding */
  box-sizing: border-box;
}


.vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 450px;
  height: 650px;
  margin: 0 auto;
  background-color: var(--foreground-color);
  border-radius: 25px;
}

.vertical-form h1 {
  color: var(--white);
  align-self: flex-start;
  margin: 10px 45px;
}

mat-form-field {
  line-height: 1;
  width: 80%;
  color: red;
}

button {
  width: 80%;
  height: 50px;
}
