<div class="text-headline4">Models</div>
<!-- <p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="New" icon="pi pi-plus" class="mr-2" />
    <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined
      [disabled]="!selectedModels || !selectedModels.length" />
  </ng-template>

  <ng-template #end>
  </ng-template>
</p-toolbar> -->
<div class="flex flex-col justify-start gap-2 mb-6">
  <div class="text-subtitle1">
    Upload a new model
  </div>
  <div class="flex gap-2">
    <p-fileupload #fu [multiple]="true" mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
      accept=".zip" maxFileSize="10000000" (onSelect)="onFileSelected($event)" />
    <p-button label="Upload" (click)="uploadFile()" severity="secondary" class="flex justify-center" />
  </div>
</div>

<p-table [value]="models" dataKey="model_id" [tableStyle]="{ 'min-width': '50rem' }" [expandedRowKeys]="expandedRows"
  [rows]="10" [rowsPerPageOptions]="[1, 10, 25, 50]" [paginator]="true" (onPage)="onPageChange($event)">
  <ng-template #caption>
    <div class="flex flex-wrap justify-end gap-2">
      <p-button label="Expand All" icon="pi pi-plus" text (click)="expandAll()" />
      <p-button label="Collapse All" icon="pi pi-minus" text (click)="collapseAll()" />
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 1rem"></th>
      <th style="width: 16rem;">Id</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Commision</th>
      <th style="width: 8rem">
    </tr>
  </ng-template>
  <ng-template #body let-model let-expanded="expanded">
    <tr>
      <td style="width: 1rem">
        <p-button pRipple (click)="toggleRow(model)" [text]="true" [rounded]="true" [plain]="true"
          [icon]="expandedRows[model.model_id] ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
      </td>
      <td>{{ model.model_id }}</td>
      <td>{{ model.name }}</td>
      <td>{{ model.symbol }}</td>
      <td>{{ model.commission || 'N/A' }}</td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
          (click)="editModel(model)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
          (click)="deleteModel(model)" />
      </td>
    </tr>
  </ng-template>

  <ng-template #expandedrow let-model>
    <tr>
      <td colspan="4">
        <div class="p-4">
          <p>ID: {{ model.model_id }}</p>
          <p>Name: {{ model.name }}</p>
          <p>Running: {{ model.running }}</p>
          <p></p>
        </div>
      </td>
      <td colspan="2">
        <div class="flex gap-2">
          <button pButton (click)="trainModel(model)">Train</button>
          <button pButton (click)="backtestModel(model)">Backtest</button>
          <button pButton (click)="stopBacktest(model)">Stop</button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [modal]="true" [(visible)]="isEditVisible" [style]="{ width: '30rem' }">
  <ng-template pTemplate="header">
    <h1 class="text-2xl font-medium">Edit Model</h1>
  </ng-template>

  <form pFocusTrap [formGroup]="modelEditForm" (ngSubmit)="saveModel()">
    <div class="flex items-center gap-4 mb-8">
      <label for="model_id" class="w-20 text-sm">model_id</label>
      <input pInputText id="model_id" class="flex-auto" autocomplete="off" formControlName="model_id"/>
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label for="name" class="w-20 text-sm">Name</label>
      <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label for="comision" class="w-20 text-sm">commission</label>
      <input pInputText id="commision" class="flex-auto" autocomplete="off" formControlName="commission" />
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" text="true" (click)="isEditVisible = false"></p-button>
      <p-button label="Save" type="submit"></p-button>
    </div>
  </form>
</p-dialog>