<ng-container *ngIf="isBrowser; else loadingScreen">
  <p-toast />
  <p-confirmDialog [style]="{width: '30rem'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>
  <app-navbar *ngIf="showNavbar"></app-navbar>
  <div class="w-full pl-14 mt-12">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-template #loadingScreen>
  <div class="flex items-center justify-center h-screen w-screen bg-gray-100 text-xl font-semibold">
    Loading...
  </div>
</ng-template>
