<nav
  class="flex flex-col justify-between w-56 h-full pb-4 bg-gray-800 bg-opacity-50 backdrop-blur fixed transition-all duration-300 overflow-hidden">

  <!-- Sidebar Header -->
  <div>
    <header class="flex flex-row w-full h-14 items-center mb-8 p-3 gap-2">
      <div class="transition-opacity duration-300 overflow-hidden flex-shrink-0">
        <app-logo size="28px" class="cursor-pointer" routerLink="/"></app-logo>
      </div>
    </header>

    <!-- Sidebar Menu -->
    <ul class="space-y-4">
      <!-- Menu Item: Users -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
        (click)="updateQueryParams('users')">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-users" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2">Users</span>
        </a>
      </li>

      <!-- Menu Item: Models -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          (click)="updateQueryParams('models')">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-microchip-ai" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 flex-shrink-0">Models</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Menu Item: Log out -->
  <div>
    {{ profile.email }}
    <p-divider></p-divider>

    <!-- Show Log out if authenticated -->
    <li class="relative group" *ngIf="authService.authState; else loginMenu">
      <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-red-400 cursor-pointer"
        (click)="logout($event)">
        <div class="flex flex-shrink-0 w-14 items-center justify-center">
          <div
            class="absolute left-0 bottom-0 w-1 h-0 bg-red-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
          </div>
          <i class="pi pi-sign-out" style="font-size: 1.25rem"></i>
        </div>
        <span class="flex-grow flex-shrink-0 pl-2">Log out</span>
      </a>
    </li>

    <ng-template #loginMenu>
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          (click)="login()">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-sign-in" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow flex-shrink-0 pl-2">Log in</span>
        </a>
      </li>
    </ng-template>
  </div>
</nav>