<nav
  class="flex flex-col justify-between h-full pb-4 bg-gray-800 bg-opacity-50 backdrop-blur fixed transition-all duration-300 overflow-hidden"
  [ngClass]="{'w-56':isVisible, 'w-14':!isVisible}">

  <!-- Sidebar Header -->
  <div>
    <header class="flex flex-row w-full h-14 items-center mb-8 gap-2">
      <i class="pi pi-bars min-w-14 h-14 flex justify-center items-center hover:text-green-400 cursor-pointer"
        style="font-size: 1.25rem" (click)="isVisible = !isVisible" [attr.aria-expanded]="isVisible">
      </i>
      <div class="transition-opacity duration-300 overflow-hidden flex-shrink-0">
        <app-logo size="28px" class="cursor-pointer" routerLink="/"></app-logo>
      </div>
    </header>

    <!-- Sidebar Menu -->
    <ul class="space-y-4">
      <!-- Menu Item: Users -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/dashboard">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-gauge" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2">Dashboard</span>
        </a>
      </li>

      <!-- Menu Item: Copy Trade -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/bot">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-microchip-ai" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 flex-shrink-0">Copy Trade</span>
        </a>
      </li>

      <!-- Menu Item: Chart -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/price-chart">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-chart-line" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 flex-shrink-0">Price Chart</span>
        </a>
      </li>


    </ul>
  </div>

  <!-- Menu Item: Log out -->
  <div>
    <p-divider></p-divider>

    <!-- Show Log out if authenticated -->
    <li class="relative group" *ngIf="authService.authState; else loginMenu">
      <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-red-400 cursor-pointer"
        (click)="logout($event)">
        <div class="flex flex-shrink-0 w-14 items-center justify-center">
          <div
            class="absolute left-0 bottom-0 w-1 h-0 bg-red-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
          </div>
          <i class="pi pi-sign-out" style="font-size: 1.25rem"></i>
        </div>
        <span class="flex-grow flex-shrink-0 pl-2">Log out</span>
      </a>
    </li>

    <ng-template #loginMenu>
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          (click)="login()">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-sign-in" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow flex-shrink-0 pl-2">Log in</span>
        </a>
      </li>
    </ng-template>
  </div>
</nav>