<nav
  class="flex flex-col justify-between h-full pb-4 bg-gray-800 bg-opacity-50 backdrop-blur fixed transition-all duration-300 overflow-hidden"
  [ngClass]="{'w-56':isVisible, 'w-14':!isVisible}">

  <!-- Sidebar Header -->
  <div>
    <header class="flex flex-row w-full h-14 items-center mb-8 gap-2">
      <i class="pi pi-bars min-w-14 h-14 flex justify-center items-center hover:text-green-400 cursor-pointer"
        style="font-size: 1.25rem" (click)="isVisible = !isVisible" [attr.aria-expanded]="isVisible">
      </i>
      <div class="transition-opacity duration-300 overflow-hidden flex-shrink-0" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">
        <a routerLink="/">
          <app-logo size="28px" class="cursor-pointer"></app-logo>
        </a>
      </div>
    </header>

    <!-- Sidebar Menu -->
    <ul class="space-y-4">
      <!-- Menu Item: Users -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/dashboard" routerLinkActive="text-green-400">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0"
              [ngClass]="{'h-full':router.url === '/dashboard'}">
            </div>
            <i class="pi pi-gauge" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Dashboard</span>
        </a>
      </li>

      <!-- Menu Item: Trading Bots -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/bot" routerLinkActive="text-green-400">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0"
              [ngClass]="{'h-full':router.url === '/bot'}">
            </div>
            <i class="pi pi-microchip-ai" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Trading Bots</span>
        </a>
      </li>

      <!-- Menu Item: Copy Trade -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/copy-trade" routerLinkActive="text-green-400">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0"
              [ngClass]="{'h-full':router.url === '/copy-trade'}">
            </div>
            <i class="pi pi-copy" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Copy Trade</span>
        </a>
      </li>

      <!-- Menu Item: Chart -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/price-chart" routerLinkActive="text-green-400">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0"
              [ngClass]="{'h-full':router.url === '/price-chart'}">
            </div>
            <i class="pi pi-chart-line" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Price Chart</span>
        </a>
      </li>

      <!-- Menu Item: Bills -->
      <li class="relative group">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          routerLink="/bills" routerLinkActive="text-green-400">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0"
              [ngClass]="{'h-full':router.url === '/bills'}">
            </div>
            <i class="pi pi-receipt" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Bills</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- User Profile Section -->
  <div>
    <!-- User Email Section -->
    <div class="relative group">
      <a class="flex items-center py-2 text-base text-white cursor-default">
        <div class="flex flex-shrink-0 w-14 items-center justify-center">
          <i class="pi pi-user" style="font-size: 1.25rem"></i>
        </div>
        <span class="flex-grow pl-2 truncate whitespace-nowrap text-white" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">
          {{ profile?.email || 'Guest' }}
        </span>
      </a>
    </div>
    <p-divider></p-divider>

    <!-- Show Log out if authenticated -->
    <li class="relative group list-none" *ngIf="authService.authState; else loginMenu">
      <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-red-400 cursor-pointer"
        (click)="logout($event)">
        <div class="flex flex-shrink-0 w-14 items-center justify-center">
          <div
            class="absolute left-0 bottom-0 w-1 h-0 bg-red-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
          </div>
          <i class="pi pi-sign-out" style="font-size: 1.25rem"></i>
        </div>
        <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Log out</span>
      </a>
    </li>

    <ng-template #loginMenu>
      <li class="relative group list-none">
        <a class="flex items-center space-x-3 py-2 text-base text-white hover:text-green-400 cursor-pointer"
          (click)="login()">
          <div class="flex flex-shrink-0 w-14 items-center justify-center">
            <div
              class="absolute left-0 bottom-0 w-1 h-0 bg-green-400 transition-all duration-300 group-hover:h-full group-hover:bottom-0">
            </div>
            <i class="pi pi-sign-in" style="font-size: 1.25rem"></i>
          </div>
          <span class="flex-grow pl-2 whitespace-nowrap" [ngClass]="{'opacity-100':isVisible, 'opacity-0':!isVisible}">Log in</span>
        </a>
      </li>
    </ng-template>
  </div>
</nav>